{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctors</title>
</head>
<body>
<h1 class="text-center">Our Doctors</h1>
<hr>
<div class="container text-center bg-light">
    {% for d in doctors %}
    <div class="card my-5"  style="width: 18rem;display:inline-block">
  <img class="card-img-top" src="{{d.doc_image.url}}" alt="Card image cap">
  <div class="card-body text-center">
    <h5 class="card-title">{{d.doc_name}}</h5>
    <p class="card-text">{{d.doc_spec}}</p>
      <h6>{{d.dep_name}} Department</h6>
  </div>
</div>
    {% endfor %}
</div>
</body>
</html>
{% endblock %}